{% extends 'adminBase.html.twig' %}

{% block title %}Partner index{% endblock %}

{% block body %}
    <h1>Liste des Partenaires</h1>

    <table class="table">
        <thead>
            <tr>
                <th>TYPE</th>
                <th>NOM</th>
                <th>LOGO</th>
                <th>LIEN</th>
                <th>ACTIONS</th>
            </tr>
        </thead>
        <tbody>
        {% for partner in partners %}
            <tr>
                <td>{{ partner.typeName }}
                </td>
                <td>{{ partner.name }}</td>
                <td>
                    <img src="/upload/file/
                    {% if partner.logo.mediaFileName is defined %}
                        {{ partner.logo.mediaFileName }}
                    {% endif %}" alt="logo"/> 
                </td>
                <td>{{ partner.link }}</td>

                <td>
                    <a href="{{ path('partner_edit', {'id': partner.id}) }}" class="btn btn-warning btn-sm">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun Partenaire trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('partner_new') }}" class="btn btn-info btn-sm m-1">Nouveau Partenaire</a>
{% endblock %}
