{% extends 'adminBase.html.twig' %}

{% block title %}Partner{% endblock %}

{% block body %}
    <h1>Partner</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ partner.id }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ partner.link }}</td>
            </tr>
            <tr>
                <th>PartnerType</th>
                <td>{{ partner.partnerTypeName }}</td>
            </tr>
            <tr>
                <th>PartnerName</th>
                <td>{{ partner.partnerName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('partner_index') }}">back to list</a>

    <a href="{{ path('partner_edit', {'id': partner.id}) }}">edit</a>

    {{ include('partner/_delete_form.html.twig') }}
{% endblock %}
