{{ form_start(form) }}
  <a href="{{ path('show_index') }}"><button class="btn btn-primary m-2">	Retourner à l'index</button>	</a>
    <div class="row">
      <div class="col-6"> {{ form_row(form.topArticle) }} </div>
    </div>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-fr" role="tab" aria-controls="nav-home" aria-selected="true">FR</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-en" role="tab" aria-controls="nav-profile" aria-selected="false">EN</a>
  </div>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-fr" role="tabpanel" aria-labelledby="nav-fr-tab">
  	<div class="row">
  	<div class="col-6"> {{ form_row(form.title_fr) }}</div>
  	<div class="col-6"> {{ form_row(form.country_fr) }} </div>
  	</div>
  	{{ form_row(form.content_fr) }}
  </div>
  <div class="tab-pane fade" id="nav-en" role="tabpanel" aria-labelledby="nav-en-tab">
  	<div class="row">
  	 <div class="col-6"> {{ form_row(form.title_en) }}</div>
  	 <div class="col-6"> {{ form_row(form.country_en) }} </div>
  	</div>
  	{{ form_row(form.content_en) }}
  </div>
</div>

  	<div class="row justify-content-center">
      {% if content.thumbnail.mediaFileName is defined %}
        <div class="col-6"><img src="/upload/file/{{content.thumbnail.mediaFileName}}" class="w-50 pb-3"></div>
      {% else %}
        <div class="col-6"><img src="/upload/file/blackThumbnail.jpg" class="w-50 pb-3"></div>
      {% endif %}
      <div class="col-6">{{ form_row(form.thumbnail) }}</div>

      {% if content.cover.mediaFileName is defined %}
        <div class="col-6"><img src="/upload/file/{{content.cover.mediaFileName}}" class="w-50 pb-3"></div>
      {% else %}
        <div class="col-6"><img src="/upload/file/blackCover.jpg" class="w-50 pb-3"></div>
      {% endif %}
      <div class="col-6">{{ form_row(form.cover) }}</div>

      {% if content.carouselPicture.mediaFileName is defined %}
        <div class="col-6"><img src="/upload/file/{{content.carouselPicture.mediaFileName}}" class="w-100"></div>
      {% else %}
        <div class="col-6"><img src="/upload/file/blackCarousel.jpg" class="w-100"></div>
      {% endif %}
        <div class="col-6">{{ form_row(form.carouselPicture) }}</div>
    </div>
    <div class="row">
			<h2 class="col-12">Ajouter des images</h2>
	    <span class="col-12">{{ include('admin/content/_upload.html.twig', {'files': content.pictures, 'contentId': content.id, 'type': 'contentPicture'}) }}</span>

        <div class="col-6"><button class="btn float-right btn-primary">{{ button_label|default('Mise à jour du contenu') }}</button></div>


{{ form_end(form) }}
        <div class="col-6">{{ include('admin/content/_delete_form.html.twig') }}</div>

    </div>