{{ form_start(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.mimeType) }}
    {{ form_row(form.link) }}
    {{ form_row(form.type) }}
    {{ form_row(form.mediaFile) }}

    <button class="btn">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}
