{% extends 'adminBase.html.twig' %}


{% block body %}
    <div class="title px-4 pb-4 pt-2">
    <h1>Liste des fichiers</h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Type</th>
                <th>Fichier</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for si_file in si_files %}
            <tr>
                <td>{{ si_file.name }}</td>
                <td>{{ si_file.fileTypeName }}</td>
                <td>
                    <img alt="img_fichier" src="/upload/file/{{ si_file.mediaFileName }}" style="width: 200px; height: auto" />
                </td>
                <td>
                    <a href="{{ path('sifile_show', {'id': si_file.id}) }}">Voir</a>
                    <a href="{{ path('sifile_edit', {'id': si_file.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun fichier enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sifile_new') }}">Nouveau</a>

{% endblock %}
