{% extends 'adminBase.html.twig' %}

{% block title %}Edit Show{% endblock %}

{% block body %}
    <h1>Edit Show</h1>

    {{ include('admin/show/_form.html.twig', {'button_label': 'Update'}) }}
	 	<a href="{{ path('show_index') }}">back to list</a>
    <a href="{{ path('session_by_content',{'id':content.id}) }}"> <button> Gérer les représentations </button> </a>
		<a href="{{ path('content_en_echo',{'id':content.id}) }}"> <button> Sélectionner les "En Echo" </button> </a>
    {{ include('admin/show/_delete_form.html.twig') }}
{% endblock %}
