{% extends 'adminBase.html.twig' %}

{% block title %}Content index{% endblock %}

{% block body %}
    <div class="jumbotron py-3">
        <h1>Liste des spectacles</h1>
        <div>
            {{ form_start(form) }}
            <div class="form-row">
                <div class="col">
                    {{ form_row(form.isComplete) }}
                </div>
                <div class="col">
                    {{ form_row(form.isTranslated) }}
                </div>
                <div class="col">
                    <button class="btn btn-primary"> Rechercher</button>
                </div>
            </div>
            {{ form_end(form)}}
        </div>
    </div>
    <a href="{{ path('show_new') }}"> Nouveau Spectacle</a>
    <table class="table">
        <thead>
            <tr>
                <th>Edition</th>
                <th>Catégorie</th>
                <th>Titre</th>
                <th>représentations</th>
                <th>Logos</th>
                <th>Complet</th>
                <th>Traduit</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for content in contents %}
            <tr>
                <td>{{content.edition.name}}</td>
                <td>{{ content.showTypeName }}</td>
                <td>{{ content.titleFr }}</td>
                <td>{{ content.sessions | length }}</td>
                <td>{{ content.logos | length }}</td>
                <td>{{ content.complete }}</td>
                <td>{{ content.translated }}</td>
                <td>
                    {# <a href="{{ path('show_show', {'id': content.id}) }}">show</a> #}
                    <a href="{{ path('show_edit', {'id': content.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(contents) }}
    </div>
{% endblock %}
