{% extends 'adminBase.html.twig' %}

{% block title %}Edition index{% endblock %}

{% block body %}
    <h1>Liste des éditions</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for edition in editions %}
            <tr>
                <td>{{ edition.id }}</td>
                <td>{{ edition.name }}</td>
                <td>
                    <a href="{{ path('edition_show', {'id': edition.id}) }}" class="btn btn-info btn-sm">Voir</a>
                    <a href="{{ path('edition_edit', {'id': edition.id}) }}" class="btn btn-info btn-sm">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('edition_new') }}" class="btn btn-info btn-sm">Nouvelle</a>
{% endblock %}
