{% extends 'base.html.twig' %}

{% block body %}
	    <div class="container">
	    	<h1>{% trans into language %} Bonjour{% endtrans %}</h1>
	    	<div class="row">
	    {% for session in sessions %}
	    	<div class=" col-12 col-md-3">
		    	<div class="card-spectacle">
		    		<div>
		    			<a href="#"><img src="https://via.placeholder.com/120" class="card-img-top img-border" alt="..."></a>
						<p class="textDate">{{ session.sessionDate|date("d/m/Y") }}</p>
						<p class="textLieu">{{ session.content.countryFr }}</p>
					</div>
				  	<div class="card-body pt-0">
					  	<h3 class="mb-0 text-muted">{{ session.content.titleFr }}</h3>
					  	<p class="mb-0 fontHome"><b>Cie Lagartijas ---</b></p>
					  	<p class="mb-0 fontHome"><b>{{ session.location }}</b></p>
					    <p class="mb-0 fontHome">{{ session.sessionDate|date("d/m/Y h") }}H</p>
					    <p class="mb-0 fontHome">DURÉE / 2H ---</p>
					    <p class="mb-0 fontHome">TARIF 1 ---</p>
				    </div>
				</div>
			</div>
		{% endfor %}
			</div>
		</div>
{% endblock %}
