{% extends 'base.html.twig' %}

{% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block body %}
	{% for category, messages in app.flashes %}
		{% for message in messages %}
			<div class="alert alert-{{ category }}">
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}



        <div class="container">
          <div class="row">
            {%for date in period %}
              <div class="col-4 col-md-1 px-1 pb-1">
                <div class="planning {% if date|date('d-m-Y') == sessionDate|date('d-m-Y') %} activeDate
                    {% endif %}">

                  <a class="txtplanning" href="{{path('index_by_date',{'sessionDate': date|date('d-m-Y')})}}"> {{date|date('D d')}}</a>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="boutonHorsScene">
            <button type="button" class="btn btn-outline-danger btn-block"><a class="horsSceneLien" href="">Hors Scène</a></button>
          </div>
        </div>

        <br>
        <div class="container">
	    	<div class="row">
	    {% for session in sessions %}
	    	<div class=" col-12 col-md-3">
		    	<div class="card-spectacle">
		    		<div>
		    			<a href="/show/{{session.content.id}}"><img src="upload/file/{{session.content.thumbnail.mediaFileName}}" class="card-img-top img-border" alt="..."></a>
						<p class="textDate">{{ session.sessionDate|date("d/m/Y") }}</p>
						<p class="textLieu">{{ session.content.countryFr }}</p>
					</div>
				  	<div class="card-body pt-0">
					  	<h3 class="mb-0 text-muted">{{ session.content.titleFr }}</h3>
					  	<p class="mb-0 fontHome"><b>Cie Lagartijas ---</b></p>
					  	<p class="mb-0 fontHome"><b>{{ session.location }}</b></p>
					    <p class="mb-0 fontHome">{{ session.sessionDate|date("d/m/Y h") }}H</p>
					    <p class="mb-0 fontHome">DURÉE / 2H ---</p>
					    <p class="mb-0 fontHome">TARIF 1 ---</p>
				    </div>
				</div>
			</div>
		{% endfor %}
			</div>
		</div>
{% endblock %}
