{% extends 'base.html.twig' %}

{% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block body %}

	{% for category, messages in app.flashes %}
		{% for message in messages %}
			<div class="alert alert-{{ category }}">
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}
  
  <div class="container">
        <div class="row">
          {%for date in period %}
            <div class="col-4 col-md-1 px-1 pb-1">
              <div class="planning">
              <a class="txtplanning" href="{{path('index_by_date',{'sessionDate': date|date('d-m-Y')})}}"> {{date|date('j/n')}}</a>
              </div>
            </div>
          {% endfor %}
        </div>
  </div>


  <br>
  <br>
    <div class="container-fluid">
	    	<div class="row">
	    {% for content in contents %}
	    	<div class=" col-12 col-md-3">
		    	<div class="card-spectacle">
		    		<div>
		    			<a href="/show/{{content.id}}"><img src="/upload/file/{{content.thumbnail.mediaFileName}}" class="card-img-top img-border" alt="..."></a>


            </div>
				  	<div class="card-body pt-0">
					  	<h3 class="mb-0 text-muted">{{	content.titleFr }}</h3>
				    </div>
				</div>
			</div>
		{% endfor %}
			</div>
		</div>

{% endblock %}
