{% extends 'base.html.twig' %}

{% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block body %}



	{% for category, messages in app.flashes %}
		{% for message in messages %}
			<div class="alert alert-{{ category }}">
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}

<div class="container-fluid">
        <div class="carousel">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://i.ytimg.com/vi/tFF1A3v2_Tk/maxresdefault.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" id="video" src="https://www.youtube.com/embed/x_Oo1mwC6tU" allowfullscreen frameborder="0" scrolling="no" onload="resizeIframe(this)">
              </iframe>
            </div>
            <div class="carousel-item">
              <img src="https://i.ytimg.com/vi/tFF1A3v2_Tk/maxresdefault.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        </div>
</div>



  <div class="container">
        <div class="row">
          {%for date in period %}
            <div class="col-4 col-md-1 px-1 pb-1">
              <div class="planning">
              <a class="txtplanning" href="{{path('index_by_date',{'sessionDate': date|date('d-m-Y')})}}"> {{date|date('D d')}}</a>
              </div>
            </div>
          {% endfor %}
        </div>
    <div class="boutonHorsScene">
    <button type="button" class="btn btn-outline-danger btn-block"><a class="horsSceneLien" href="">Hors Scène</a></button>
</div>
  </div>


  <br>
  <br>
    <div class="container-fluid">
	    	<div class="row">
	    {% for content in contents %}
	    	<div class=" col-12 col-md-3">
		    	<div class="card-spectacle">
		    		<div>
		    			<a href="/show/{{content.id}}"><img src="upload/file/{{content.thumbnail.mediaFileName}}" class="card-img-top img-border" alt="..."></a>


            </div>
				  	<div class="card-body pt-0">
					  	<h3 class="mb-0 text-muted">{{	content.titleFr }}</h3>
				    </div>
				</div>
			</div>
		{% endfor %}
			</div>
		</div>

{% endblock %}
