{% extends 'base.html.twig' %}

{% block title %}Partenaires{% endblock %}

{% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <h1 class="text-center p-2">Nos Partenaires</h1>
    <div class="container p-2">

        {% for type in constant('App\\Entity\\Partner::TYPE') %}

            <div class="row">
                <h3 class="text-center">{{ type }}</h3>
            </div>
            {% for partner in partners %}

            {% if partner.type == type %}
            
                <div class=" row d-flex">
                    <div class="col-md-2">
                        {% if partner.logo.mediaFileName is defined %}
                            <img class="img-fluid" src="/upload/file/{{ partner.logo.mediaFileName }}" alt="logo"/> 
                        {% endif %}
                    </div>
                    <div class="col-md-2">
                        {{ name }}
                    </div>
                    <div class="col-md-2">
                        {{ link }}
                    </div>
                </div>
                <div class="row">
                    <hr align="center" width="70%">
                </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>

{% endblock %}
