{% extends 'base.html.twig' %}

{% block title %}Content index{% endblock %}

{% block body %}
    <h1>Content index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title_fr</th>
                <th>ContentType</th>
                <th>Status</th>
                <th>Title_en</th>
                <th>Content_fr</th>
                <th>Content_en</th>
                <th>Country_fr</th>
                <th>Country_en</th>
                <th>MapadoLink</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for content in contents %}
            <tr>
                <td>{{ content.id }}</td>
                <td>{{ content.titleFr }}</td>
                <td>{{ content.contentType }}</td>
                <td>{{ content.status }}</td>
                <td>{{ content.titleEn }}</td>
                <td>{{ content.contentFr }}</td>
                <td>{{ content.contentEn }}</td>
                <td>{{ content.countryFr }}</td>
                <td>{{ content.countryEn }}</td>
                <td>{{ content.mapadoLink }}</td>
                <td>
                    <a href="{{ path('page_show', {'id': content.id}) }}">show</a>
                    <a href="{{ path('page_edit', {'id': content.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('page_new') }}">Create new</a>
{% endblock %}
