{% extends 'base.html.twig' %}

{% block title %}Content{% endblock %}

{% block body %}
    <h1>Content</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ content.id }}</td>
            </tr>
            <tr>
                <th>Title_fr</th>
                <td>{{ content.titleFr }}</td>
            </tr>
            <tr>
                <th>ContentType</th>
                <td>{{ content.contentType }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ content.status }}</td>
            </tr>
            <tr>
                <th>Title_en</th>
                <td>{{ content.titleEn }}</td>
            </tr>
            <tr>
                <th>Content_fr</th>
                <td>{{ content.contentFr }}</td>
            </tr>
            <tr>
                <th>Content_en</th>
                <td>{{ content.contentEn }}</td>
            </tr>
            <tr>
                <th>Country_fr</th>
                <td>{{ content.countryFr }}</td>
            </tr>
            <tr>
                <th>Country_en</th>
                <td>{{ content.countryEn }}</td>
            </tr>
            <tr>
                <th>MapadoLink</th>
                <td>{{ content.mapadoLink }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('page_index') }}">back to list</a>

    <a href="{{ path('content_edit', {'id': content.id}) }}">edit</a>

    {{ include('admin/page/_delete_form.html.twig') }}
{% endblock %}
